*{margin:0;}

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
  }
  #header{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 20px;
  }
  #container {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .box{
    /*flex-basis is 100 / 17  (17 is equal to grid amount +1)*/
    flex-basis: 5.88%;
    border: solid black 1px;

  }
